$montserrat: "Montserrat";
$color-black-1: #2E2A29;
$color-black-2: #161513;
$color-black-3: #3F3D3C;
$color-black-4: rgb(73, 72, 72);

$color-silver-1: #DACECB;
$color-green-1: #3D8225;
$color-green-2: #295B13;